.container {  
  display: block;
  margin: 50px auto;        
  border: 1px solid white;
  text-align: center;
}
.project {
  text-align: left;
  width: 650px;
  margin: 0px auto;
}

a:link {
  color:green;
}

a:visited {
  color:purple;
}

h5 {
  font-family: 'Bakbak One', cursive;
}

.card-title {
  font-weight: bold;
}

.card-text {
  color: darkgray;
}